.rg-root {
	font-family: 'Malgun Gothic', 'ë§‘ì€ ê³ ë”•', AppleSDGothicNeo-Light,	sans-serif;
    font-size: 16px;
    color: black;
	background: #ffffff;
	-webkit-appearance: none;
	outline: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	 touch-action:none;
    -ms-touch-action:none;
}

.rg-root .rg-table, .rg-root .rg-table tr, .rg-root .rg-table td {
    position: relative;
	margin: 0 !important; /* 0과 다르면 자동 행 계산 시 틀어진다! content div 전에서 설정할 것!*/
	padding: 0 !important; /* 0과 다르면 자동 행 계산 시 틀어진다! content div 전에서 설정할 것! */
	border-spacing: 0 !important;
	border-collapse: separate !important;
	box-sizing:border-box !important;
	line-height: 1.5em;
}

.rg-root input::-ms-clear {
	display: none;
}
.rg-root .rg-scrolltrack {
    background: #f6f6f6;
    border: 1px solid #f6f6f6;
}

.rg-grid {
    border: 1px solid #cacaca;
}

.rg-empty-grid {
	display: table;
	padding: 10%;
	background: #efefef;
	color: #333;
	font-size: 32px;
	text-align: center;
}

.rg-scrolledge {
    background: #f6f6f6;
}

.rg-hscrollbar .rg-scrollthumb {
	box-sizing: border-box;
	background: #dddddd;
	border: 1px solid #aaa;
	border-radius:0.5em;
	touch-action: none;
	-ms-touch-action: none;
}

.rg-hscrollbar .rg-scrollthumb:hover {
	background: #bbbbbb;
}

.rg-hscrollbar .rg-scroll-left {
	box-sizing: border-box;
	background: #eaeaea url("./css/images/scroll-left.png") no-repeat 50% 50%;
	border: 1px solid #eaeaea;
}

.rg-hscrollbar .rg-scroll-right {
	box-sizing: border-box;
	background: #eaeaea url("./css/images/scroll-right.png") no-repeat 50% 50%;
	border: 1px solid #eaeaea;
}

.rg-vscrollbar .rg-scrollthumb {
	box-sizing: border-box;
	background: #dddddd;
	border: 1px solid #aaa;
	border-radius:0.5em;
	touch-action: none;
	-ms-touch-action: none;
}

.rg-vscrollbar .rg-scrollthumb:hover {
	background: #bbbbbb;
}

.rg-vscrollbar .rg-scroll-up {
	box-sizing: border-box;
	background: #eaeaea url("./css/images/scroll-up.png") no-repeat 50% 50%;
	border: 1px solid #eaeaea;
}

.rg-vscrollbar .rg-scroll-down {
	box-sizing: border-box;
	background: #eaeaea url("./css/images/scroll-down.png") no-repeat 50% 50%;
	border: 1px solid #eaeaea;
}

.rg-empty-grid span {
	display: table-cell;
	vertical-align: middle;
}

.rg-header {
	text-align: center;
	font-weight: bold;
	background: #eee;
	background: -webkit-linear-gradient(top, #f8f8f8, #eee);
	background: -moz-linear-gradient(top, #f8f8f8, #eee);
	background: -ms-linear-gradient(top, #f8f8f8, #eee);
	background: -o-linear-gradient(top, #f8f8f8, #eee);
	background: linear-gradient(to bottom, #f8f8f8, #eee);
}

.rg-header .rg-table tr td {
	border-top:none;
	border-right: 1px solid #DCDCDC;
	border-bottom: 1px solid #bdbdbd;
    border-left:none;
    overflow: hidden;
}

.rg-header .rg-table tr td:hover {
    background: #dadada;
	background: -webkit-linear-gradient(top, #f8f8f8, #d0d0d0);
	background: -moz-linear-gradient(top, #f8f8f8, #d0d0d0);
	background: -ms-linear-gradient(top, #f8f8f8, #d0d0d0);
	background: -o-linear-gradient(top, #f8f8f8, #d0d0d0);
    background: linear-gradient(to bottom, #f8f8f8, #d0d0d0);
}

.rg-header-cell {
	text-align: center;
}

.rg-header-group-cell {
    background: #e8e8e8;
	text-align: center;
}

.rg-header-renderer {
	padding: 0px 4px;
}

.rg-header-focus {
    background: #dadada;
	background: -webkit-linear-gradient(top, #f8f8f8, #d0d0d0);
	background: -moz-linear-gradient(top, #f8f8f8, #d0d0d0);
	background: -ms-linear-gradient(top, #f8f8f8, #d0d0d0);
	background: -o-linear-gradient(top, #f8f8f8, #d0d0d0);
    background: linear-gradient(to bottom, #f8f8f8, #d0d0d0);
}

.rg-header-sort-ascending {
	background: url(./css/images/ascending.png) no-repeat center;
	font-size: 8px;
    vertical-align: middle;
}

.rg-header-sort-descending {
	background: url(./css/images/descending.png) no-repeat center;
	font-size: 8px;
    vertical-align: middle;
}

.rg-header-sort-none {
	background: url(./css/images/sortnone.png) no-repeat center;
	vertical-align: middle;
}

.rg-header-filtering {
	background: url(./css/images/filter.png) no-repeat center;
    vertical-align: middle;
}

.rg-header-popup {
	background: url(./css/images/header-popup.png) no-repeat center;
    vertical-align: middle;
}

.rg-header-check {
	margin: 2px !important;
}

.rg-head {
	text-align: center;
	font-weight: bold;
	background: #eee;
	background: -webkit-linear-gradient(top, #f8f8f8, #eee);
	background: -moz-linear-gradient(top, #f8f8f8, #eee);
	background: -ms-linear-gradient(top, #f8f8f8, #eee);
	background: -o-linear-gradient(top, #f8f8f8, #eee);
	background: linear-gradient(to bottom, #f8f8f8, #eee);
}

.rg-head .rg-table tr td {
	border-top:none;
	border-right: 1px solid #DCDCDC;
	border-bottom: 1px solid #bdbdbd;
	border-left:none;
}

.rg-head-cell {
	text-align: center;
	font-weight: bold;
}

.rg-header-summary {
	text-align: center;
	background: #fffff4;
}

.rg-header-summary .rg-table tr td {
	border-bottom:none;
	border-right: 1px solid #DCDCDC;
	border-bottom: 1px solid #bdbdbd;
	border-left:none;
}

.rg-fixed-header-summary .rg-table tr td {
    background: #eee;
	border-top:none;
	border-right: 1px solid #DCDCDC;
	border-bottom: 1px solid #bdbdbd;
	border-left:none;
}

.rg-header-summary-cell {
	text-align: right;
}

.rg-header-summary-renderer {
	padding: 0px 4px;

}

.rg-sum {
	text-align: center;
	background: #fffff4;
}

.rg-sum .rg-table tr td {
	border-top: none;
	border-right: 1px solid #DCDCDC;
	border-bottom: 1px solid #bdbdbd;
	border-left:none;
}

.rg-sum-cell {
	text-align: center;
}

.rg-footer {
	background: #f4f4f4;
}

.rg-footer .rg-table tr td {
	border-bottom:none;
	border-right: 1px solid #DCDCDC;
	border-top: 1px solid #bdbdbd;
	border-left:none;
}

.rg-fixed-footer .rg-table tr td {
    background: #eee;
	border-bottom:none;
	border-right: 1px solid #DCDCDC;
	border-top: 1px solid #bdbdbd;
	border-left:none;
}

.rg-footer-cell {
	text-align: right;
}

.rg-footer-renderer {
	padding: 0px 4px;
}

.rg-foot {
	text-align: center;
	background: #f4f4f4;
}

.rg-foot .rg-table tr td {
	border-bottom: none;
	border-right: 1px solid #DCDCDC;
	border-top: 1px solid #bdbdbd;
	border-left:none;
}

.rg-foot-cell {
	text-align: center;
}

.rg-rowindicator {
	text-align: center;
	background: #f4f4f4;
}

.rg-rowindicator .rg-table tr td {
	border-top:none;
	border-right: 1px solid #DCDCDC;
	border-bottom: 1px solid #bdbdbd;
	border-left:none;
}

.rg-rowindicator .rg-table tr td:hover {
    background: #dadada;
}

.rg-rowindicator-cell {
	text-align: center;
}

.rg-rowindicator-head {
	font-weight: bold;
	color: red;
}

.rg-rowindicator-focus {
    background-color: #dadada;
}

.rg-rowindicator .rg-table tr td.rg-rowindicator-editing {
	background:  #dadada url(./css/images/item-editing.png) no-repeat center;
    vertical-align: middle;
}

.rg-rowindicator .rg-table tr td.rg-rowindicator-editing:hover {
	background: #dadada url(./css/images/item-editing.png) no-repeat center;
    vertical-align: middle;
}

.rg-rowindicator .rg-table tr td.rg-rowindicator-inserting {
	background:  #dadada url(./css/images/item-inserting.png) no-repeat center;
    vertical-align: middle;
}

.rg-rowindicator .rg-table tr td.rg-rowindicator-inserting:hover {
	background:  #dadada url(./css/images/item-inserting.png) no-repeat center;
    vertical-align: middle;
}

.rg-statebar .rg-table tr td {
	border-top:none;
	border-right: 1px solid #DCDCDC;
	border-bottom: 1px solid #bdbdbd;
	border-left:none;
}

.rg-statebar-cell {
	text-align: center;
}

.rg-statebar-head {
	font-weight: bold;
}

.rg-statebar-created {
	background: rgba(0, 128, 255, 0.2) url(./css/images/row-created.png) no-repeat center;
    vertical-align: middle;
}

.rg-statebar-create-and-deleted {
	background: rgba(128, 0, 0, 0.2) url(./css/images/row-create-and-deleted.png) no-repeat center;
    vertical-align: middle;
}

.rg-statebar-deleted {
	background: rgba(255, 0, 0, 0.2) url(./css/images/row-deleted.png) no-repeat center;
    vertical-align: middle;
}

.rg-statebar-updated {
	background: #eee url(./css/images/row-updated.png) no-repeat center;
    vertical-align: middle;
}

.rg-checkbar-head {
	font-weight: bold;
}

.rg-checkbar .rg-table tr td {
	border-top:none;
	border-right: 1px solid #DCDCDC;
	border-bottom: 1px solid #bdbdbd;
	border-left:none;
}

.rg-checkbar-cell {
	text-align: center;
}

.rg-body .rg-table tr td {
	border-top:none;
	border-right: 1px solid #DCDCDC;
	border-bottom: 1px solid #bdbdbd;
	border-left:none;
    height: 0px;
}

.rg-body .rg-table tr td:hover {
	background: #EAEAEA;
}

.rg-fixed-body .rg-table tr td {
    background: #eee;
	border-top:none;
	border-right: 1px solid #bdbdbd;
	border-bottom: 1px solid #bdbdbd;
	border-left:none;
    height: 0px;
}

.rg-fixed-row {
    background: #eee;
}

.rg-fixed-row td {
	border-top:none;
	border-right: 1px solid #bdbdbd;
	border-bottom: 1px solid #bdbdbd;
	border-left:none;
    height: 0px;
}

.rg-data-row {
    background: none;
}

.rg-body-cell {
	text-align: center;
}

.rg-data-cell {
    white-space: nowrap;
	text-align: center;
}

.rg-checkbox, .rg-radio {
	vertical-align: middle;
	margin: 0;
	margin-top: 0 !important;
	padding: 0;
}

.rg-button-action {
    background: url(/images/action.png) no-repeat center;
}

.rg-button-action:hover {
	background: url(/images/action-hover.png) no-repeat center;
}

.rg-button-action:active:hover {
	background: url(/images/action-down.png) no-repeat center;
}

.rg-button-popup {
    background: url(./css/images/popup.png) no-repeat center;
}

.rg-button-popup:hover {
	background: url(./css/images/popup-hover.png) no-repeat center;
}

.rg-button-popup:active:hover {
	background: url(./css/images/popup-down.png) no-repeat center;
}

.rg-button-list {
    background: url(./css/images/dropdown-up.png) no-repeat center left;
}

.rg-button-list:hover {
	background: url(./css/images/dropdown-hover.png) no-repeat center left;
}

.rg-button-list:active:hover {
	background: url(./css/images/dropdown-down.png) no-repeat center left;
}

.rg-button-calendar {
    background: url(./css/images/calendar-up.png) no-repeat center left;
}

.rg-button-calendar:hover {
	background: url(./css/images/calendar-hover.png) no-repeat center left;
}

.rg-button-calendar:active:hover {
	background: url(./css/images/calendar-down.png) no-repeat center left;
}

.rg-fixed-body .rg-table .rg-fixed-row-bar td, .rg-body .rg-table .rg-fixed-row-bar td {
    background: red;
}

.rg-fixed-row-bar {
    background: red;
}

.rg-fixed-row-bar-cell {
	border-bottom: 1px solid #bdbdbd;
}

.rg-fixed-column-bar {
    background: white;
	border-right: 1px solid #bdbdbd;
}

.rg-right-column-bar {
    background: white;
	border-left: 1px solid #bdbdbd;
	border-right: 1px solid #bdbdbd;
}

.rg-rowgroup-head {
	text-align: center;
	font-weight: bold;
	background: #eee;
	background: -webkit-linear-gradient(top, #f8f8f8, #eee);
	background: -moz-linear-gradient(top, #f8f8f8, #eee);
	background: -ms-linear-gradient(top, #f8f8f8, #eee);
	background: -o-linear-gradient(top, #f8f8f8, #eee);
	background: linear-gradient(to bottom, #f8f8f8, #eee);
}

.rg-rowgroup-head .rg-table tr td {
	border-top:none;
	border-right: 1px solid #DCDCDC;
	border-bottom: 1px solid #bdbdbd;
	border-left:none;
}

.rg-rowgroup-head-cell {
	text-align: center;
	font-weight: bold;
}

.rg-rowgroup-foot {
	text-align: center;
	background: #f4f4f4;
}

.rg-rowgroup-foot .rg-table tr td {
	border-bottom:none;
	border-right: 1px solid #DCDCDC;
	border-top: 1px solid #bdbdbd;
	border-left:none;
}

.rg-rowgroup-foot-cell {
	text-align: center;
}

.rg-rowgroup-bar-cell {
    text-align: center;
    vertical-align: top;
    padding-top: 2px;
}

.rg-rowgroup-bar {
	text-align: center;
	font-weight: bold;
	background: #eee;
}

.rg-rowgroup-bar .rg-table tr td {
	border-top:none;
	border-right: 1px solid #DCDCDC;
	border-bottom: 1px solid #bdbdbd;
	border-left:none;
	vertical-align: top;
}

.rg-rowgroup-header {
	background: #eee;
	border-top:none;
	border-right: 1px solid #DCDCDC;
	border-bottom: 1px solid #bdbdbd;
	border-left:none;
}

.rg-rowgroup-footer {
	text-align: center;
}

.rg-rowgroup-footer .rg-table tr td {
	border-bottom:none;
	border-right: 1px solid #DCDCDC;
	border-top: 1px solid #bdbdbd;
	border-left:none;
}

.rg-rowgroup-footer-cell {
    text-align: right;
    /* rg-rowgroup-footer에 설정하면 안된다. footer에 해당하는 마지막 병합셀만 표시될 때 문제가 된다.*/
	background: #f4f4f4;
}

.rg-group-panel {
    box-sizing: border-box;
    background: #dddddd;
    border-bottom: 1px solid #bababa;
    text-align: left;
}

.rg-group-panel-message {
    display: block;
    position: absolute;
    font-size: 14px;
    color: #333;
    white-space: nowrap !important;
}

.rg-group-panel-item {
    display: block; 
    border: 1px solid #777;
    background-color: #bbb;
}

.rg-group-panel-item-text {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
}

.rg-group-panel-item-close {
    display: inline-block;
    position: absolute;
    background-image: url("./css/images/grouping-close.png");
    width: 16px;
    height: 16px;
}

.rg-group-panel-cell-feedback {
    opacity: 0.8;
}

.rg-group-panel-no-mark {
    display: inline-block;
    position: absolute;
    background-image: url("./css/images/grouping-no.png");
    width: 40px;
    height: 20px;
}

.rg-tree-expanded {
	display: inline-block;
	width: 16px;
	height: 16px;
	border: none;
	background: url(./css/images/tree-expanded.png) no-repeat center;
    vertical-align: middle;
}

.rg-tree-collapsed {
	display: inline-block;
	width: 16px;
	height: 16px;
	border: none;
    background: url(./css/images/tree-collapsed.png) no-repeat center;
    vertical-align: middle;
}

.rg-tree-leaf {
	display: inline-block;
	width: 16px;
    height: 16px;
}

.rg-tree-line {
    display: inline-block;
    background-color: gray;
}

.rg-tree-renderer {
    padding-left: 0px !important;
    text-align: left !important;
}

.rg-focus {
    border: 2px solid rgba(51, 51, 51, 0.8);
}

.rg-focus-editing {
    border: 2px solid rgb(82, 146, 247);
}

.rg-focus-inner {
    border: 1px dotted rgba(51, 51, 51, 0.8);
}

.rg-rowhover {
    background: rgba(63, 63, 63, 0.1) !important;
}

.rg-rowfocus {
    background: rgba(63, 63, 63, 0.1) !important;
}

.rg-rowblock {
    background: rgba(63, 63, 63, 0.1) !important;
}

.rg-selection-cell {
    background: #d8d8d8 !important;
	color:inherit;
}

.rg-selection {
    background: rgba(30, 144, 255, 0.2) !important;
    border: 1px solid rgba(30, 144, 255, 0.67);
}

._rg-col-resizer_ {
    background: rgba(30, 30, 30, 0.5);
    border: none;
}

._rg-header-cell-feedback_ {
    opacity: 0.8;
    border: 1px solid gray;
}

._rg-header-cell-mover_ {
    box-sizing: border-box;
    border: 3px solid rgba(30, 30, 30, 0.8);
    background: none;
}

.rg-renderer {
    border: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    padding: 0px 4px;
    text-overflow: ellipsis;
}

.rg-bar-renderer {
    /*position: absolute; 설정하면 ie에서 안됨. */
    position: relative;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.rg-bar-renderer-bar {
    background: #2F8D27;
	background: -webkit-linear-gradient(right, #96f58F, #2F8D27);
	background: -moz-linear-gradient(right, #96f58F, #2F8D27);
	background: -ms-linear-gradient(right, #96f58F, #2F8D27);
	background: -o-linear-gradient(right, #96f58F, #2F8D27);
    background: linear-gradient(to left, #96f58F, #2F8D27);
}

.rg-bar-renderer-bar-right {
    background: #2F8D27;
	background: -webkit-linear-gradient(left, #96f58F, #2F8D27);
	background: -moz-linear-gradient(left, #96f58F, #2F8D27);
	background: -ms-linear-gradient(left, #96f58F, #2F8D27);
	background: -o-linear-gradient(left, #96f58F, #2F8D27);
	background: linear-gradient(to right, #96f58F, #2F8D27);
}

.rg-bar-renderer-bar-top {
    background: #2F8D27;
	background: -webkit-linear-gradient(bottom, #96f58F, #2F8D27);
	background: -moz-linear-gradient(bottom, #96f58F, #2F8D27);
	background: -ms-linear-gradient(bottom, #96f58F, #2F8D27);
	background: -o-linear-gradient(bottom, #96f58F, #2F8D27);
	background: linear-gradient(to top, #96f58F, #2F8D27);
}

.rg-bar-renderer-bar-bottom {
    background: #2F8D27;
	background: -webkit-linear-gradient(top, #96f58F, #2F8D27);
	background: -moz-linear-gradient(top, #96f58F, #2F8D27);
	background: -ms-linear-gradient(top, #96f58F, #2F8D27);
	background: -o-linear-gradient(top, #96f58F, #2F8D27);
	background: linear-gradient(to bottom, #96f58F, #2F8D27);
}

.rg-image-renderer {
    text-overflow: ellipsis;
}

.rg-icon-renderer {
    position: relative;
}

.rg-check-renderer {
    position: relative;
}

.rg-button-renderer {
    position: relative;
}

.rg-button-renderer-button {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    /*cursor: pointer;*/
    width: 80%;
}

.rg-link-renderer {
    position: relative;
    text-decoration: underline;
}

.rg-shape-renderer {
    position: static;/*relative;*/
}

.rg-shape-renderer-shape {
    fill: red;
}

.rg-signalbar-renderer {
    position: relative;
    width: 100%;
    height: 90%;
}

.rg-signalbar-renderer-bar {
    fill: darkgreen;
}

.rg-signalbar-renderer-inactive {
    fill: lightgrey;
}

.rg-sparkline-renderer {
    position: relative;
    width: 100%;
    height: 90%;
}

.rg-sparkline-renderer-chart {
    stroke: gray;
}

.rg-sparkline-renderer-last {
    fill: gray;
}

.rg-sparkline-renderer-high {
    stroke: green;
    fill: green;
}

.rg-sparkline-renderer-low {
    stroke: red;
    fill: red;
}

.rg-sparkcolumn-renderer {
    position: relative;
    width: 100%;
    height: 90%;
}

.rg-sparkcolumn-renderer-chart {
    fill: gray;
}

.rg-sparkcolumn-renderer-last {
    fill: gray;
}

.rg-sparkcolumn-renderer-high {
    fill: green;
}

.rg-sparkcolumn-renderer-low {
    fill: red;
}

.rg-sparkwinloss-renderer {
    position: relative;
    width: 100%;
    height: 90%;
}

.rg-sparkwinloss-renderer-chart {
    fill: gray;
}

.rg-sparkwinloss-renderer-below {
    fill: red;
}

.rg-code39-renderer {
    position: relative;
    width: 100%;
    height: 90%;
    left: 0px;
    top: 5%;
}

.rg-code39-renderer-bar {
    fill: darkblue;
}

.rg-code128-renderer {
    position: relative;
    width: 100%;
    height: 90%;
    left: 0px;
    top: 5%;
}

.rg-code128-renderer-bar {
    fill: darkgreen;
}

.rg-popup-menu {
	background : rgb(233, 233, 233);
	border : 1px solid rgb(200, 200, 200);
	box-shadow : rgba(0, 0, 0, 0.8) 1px 2px 5px;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	font-size : 10pt;
	padding : 4px;
	margin : 0px;
}

.rg-popup-item {
	padding-top : 2px;
	padding-bottom : 2px;
	height:20px;
	cursor:pointer;
}

.rg-popup-item-disable{
	color:gray;
}

.rg-popup-item:hover {
	background-color : #f8f8f8;	
}

.rg-popup-item-disable:hover{
	color:gray;
}
.rg-popup-separator {
	height : 10px;
	border : 0px;
	margin : 2px;
	color : #777;
}
.rg-popup-separator-hr {
	margin-top:10px;
}
.rg-popup-expander {
	background:url("./css/images/menu_expander.png") no-repeat center center;
}
.rg-popup-check {
	background:url("./css/images/menu_expander.png") no-repeat center center;
}
.rg-popup-check-checked {
	background:url("./css/images/menu_check.png") no-repeat center center;
}
.rg-popup-radio-checked {
	background:url("./css/images/menu_radio.png") no-repeat center center;
}
.rg-popup-group1 {
	background : #ff4488
}

.rg-waiting {
	text-align: center;
	background: rgba(255,255,255,0.8) url("./css/images/loading1.gif") no-repeat center center
}

/** filter */
.rg-filter-selector {
	width: 150px;
    min-height: 150px;
    background: white;
	border: 1px solid gray;
}

.rg-filter-header {
	padding: 3px;
}

.rg-filter-searchbox {
	padding: 3px;
}

.rg-filter-search-input {
	box-sizing: border-box;
	width: 100%;
}

.rg-filter-select-all {
	cursor: pointer;
	font-size: 12px;
	width: 100%;
	padding-left: 5px;
	/* overflow: auto; */
}

.rg-filter-list-viewport {
    height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
	border-top: #bababa solid 1px;
	border-bottom: #bababa solid 1px;
}

.rg-filter-list {
	padding: 3px;
}

.rg-filter-item {
    cursor: pointer;
	font-size: 12px;
	overflow: hidden;
	width: 100%;
	/* padding-left: 5px; */
}

.rg-filter-checkbox {
    cursor: pointer;
	display: inline;
	margin-right: 6px;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 0px;
}

.rg-filter-item-indent-none {
	padding-left: 5px;
	cursor: pointer;
	display: inline;
}

.rg-filter-item-indent-0 {
	padding-left: 20px;
	cursor: pointer;
	display: inline;
}
.rg-filter-item-indent-1 {
	padding-left: 35px;
	cursor: pointer;
	display: inline;
}
.rg-filter-item-indent-2 {
	padding-left: 50px;
	cursor: pointer;
	display: inline;
}
.rg-filter-item-indent-3 {
	padding-left: 65px;
	cursor: pointer;
	display: inline;
}
.rg-filter-item-indent-4 {
	padding-left: 80px;
	cursor: pointer;
	display: inline;
}
.rg-filter-item-indent-5 {
	padding-left: 95px;
	cursor: pointer;
	display: inline;
}

.rg-filter-item-collapsed {
	position: absolute;
	width: 9px;
	height: 100%;
	background: url("./css/images/tree-collapsed.png") no-repeat center;
	cursor: pointer;
	display: inline-block;
}
.rg-filter-item-expanded {
	position: absolute;
	width: 9px;
	height: 100%;
	background: url("./css/images/tree-expanded.png") no-repeat center;
	cursor: pointer;
	display: inline-block;
}


/** tooltip */
.rg-tooltip {
    background: rgba(255, 255, 255, 0.9);
    color: rgb(100, 100, 100);
    border: 1px solid rgb(100, 100, 100);
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.8);
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 10pt;
    padding: 2px;
    visibility: hidden;
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.rg-toast {
    background: rgba(66, 66, 66, 0.9);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(100, 100, 100);
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.8);
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 32px;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.rg-dropdownlist {
	background:#FFF;
	border: 1px solid rgb(50, 50, 50);
	box-shadow: rgba(0, 0, 0, 0.8) 1px 2px 5px;
	font-size: 10pt;
	padding: 0px;
	margin: 0px;
}

.rg-dropdown-select{
	background:#FF8888;
	margin:0px;
}

.rg-dropdown-item {
	margin:0px;
}

.rg-dropdown-item:hover {
	background:#88FF88;
}

.rg-cal-days-table {
	background:silver;
}
.rg-calendar {
	font-size: 12px;
	background:#fff;
	border:1px solid rgba(50, 50, 50, 1);
	box-shadow:rgba(0, 0, 0, 0.8) 1px 2px 5px;
}
.rg-cal-header {
	height:20px;
}
.rg-cal-year {
	cursor:default;
	top:5px;
}
.rg-cal-month {
	cursor:pointer;
	top:5px;
}
.rg-cal-prev-month {
	background-repeat: no-repeat;
	background-position: center center;
	background-image:url("/images/cal-prev.png");
	width:20px;
	height:20px;
}
.rg-cal-prev-month:hover {
	background-image:url("./css/images/cal-prev-hover.png");
}
.rg-cal-prev-month:active {
	background-image:url("./css/images/cal-prev-active.png");
}
.rg-cal-next-month {
	background-repeat: no-repeat;
	background-position: center center;
	background-image:url("./css/images/cal-next.png");
	width:20px;
	height:20px;
}
.rg-cal-next-month:hover {
	background-image:url("./css/images/cal-next-hover.png");
}
.rg-cal-next-month:active {
	background-image:url("./css/images/cal-next-active.png");
}
.rg-cal-today-button {
	padding: 2px;
	font-size: 12px;
	border: 1px solid transparent;
	border-radius: 3px;
	cursor:pointer;
}
.rg-cal-today-button:hover {
	border: 1px solid #aaa;
	background-color: #fff;
	text-decoration: underline;
}

.rg-cal-next-year {
	background-repeat: no-repeat;
	background-position: center center;
	background-image:url("./css/images/cal-up.png");
}
.rg-cal-next-year:hover{
	background-image:url("./css/images/cal-up-hover.png");
}
.rg-cal-next-year:active{
	background-image:url("./css/images/cal-up-active.png");
}
.rg-cal-prev-year {
	background-repeat: no-repeat;
	background-position: center center;
	background-image:url("./css/images/cal-down.png");
}
.rg-cal-prev-year:hover{
	background-image:url("./css/images/cal-down-hover.png");
}
.rg-cal-prev-year:active{
	background-image:url("./css/images/cal-down-active.png");
}
.rg-cal-weeks {
	color:black;
	font-size:12px;
	cursor:default;
}
.rg-cal-week-sun {
	color:red;
}
.rg-cal-week-sat {
	color:blue;
}
.rg-cal-days {
	font-size:12px;
	text-align: center;
}
.rg-cal-day {
	cursor:pointer;
	background: #f5f5f5;
	border:1px solid #eee;
	width:30px;
	height: 30px;
	border-radius: 7px;
	font-size:12px;
}
.rg-cal-day:hover {
	background: #55FFf5;
	color:red;
	border:1px solid #eee;
}
.rg-cal-prev-day {
	color:#ccc;
	border:1px solid #fff;
}
.rg-cal-next-day {
	color:#ccc;
	border:1px solid #fff;
}
.rg-cal-today {
	background: #d5d5d5;
}
.rg-cal-focusday {
	background: rgba(255, 255, 0, 0.3);
	border: 1px solid #aaa;
	color: #333;
}
.rg-cal-month-picker {
	margin: 0px;
	cursor: pointer;
	background: #fff;
	border: 1px solid rgba(50, 50, 50, 0.5);
	box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 5px;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}
.rg-cal-month-picker-item {
	padding: 1px 4px 1px 4px;
	width:20px;
	height:20px;
	border-radius: 7px;
	text-align: center;
}
.rg-cal-month-picker-item:hover {
	background:#e8e8e8;
}
.rg-cal-disable-day {
	background:silver;
}
.rg-cal-year-weeks {
	font-size:10px;
}

.rg-multicheck {
	background: #fff;
	border: 1px solid rgb(50, 50, 50);
	box-shadow: rgba(0, 0, 0, 0.8) 1px 2px 5px;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
}
.rg-multicheck-button {
	text-align: center;
}
.rg-multicheck-accept {
	border: 1px solid #0a3c59;
	border-radius: 3px;
	color: #06426c;
	border-width: 1px; 
}
.rg-multicheck-cancel {
	border: 1px solid #0a3c59;
	border-radius: 3px;
	color: #06426c;
	border-width: 1px; 
}
.rg-multicheck-accept:hover {
	background-color: #888
}
.rg-multicheck-cancel:hover {
	background-color: #888
}
.rg-multicheck-select {
	background:#aaa;
	color:#fff;
}
.rg-multicheck-list {
}
.rg-multicheck-item {
	background:none;
	color:none;
}
.rg-multicheck-item:hover {
	background:rgba(0, 255, 0, 0.2);
	color:none;
}
.rg-multicheck-selectitem {
	background:rgba(0, 255, 0, 0.2);
	color:#000;
}

.rg-changed-marker {
    width: 0px;
    height: 0px;
    border-left: 3px solid red;
    border-top: 3px solid red;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
}

.rg-expander-expanded {
	display: inline-block;
	width: 16px;
	height: 16px;
	border: none;
	background: url(./css/images/expander-expanded.png) no-repeat center;
    vertical-align: middle;
}

.rg-expander-collapsed {
	display: inline-block;
	width: 16px;
	height: 16px;
	border: none;
    background: url(./css/images/expander-collapsed.png) no-repeat center;
    vertical-align: middle;
}

.rg-editor-container {
	box-sizing: border-box;
	overflow: hidden;
	background-color: #fff;
	resize: none;
	border: 2px solid rgb(82, 146, 247);
	box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 5px;
}

.rg-editor-container > input,  .rg-editor-container > textarea {
	background-color: rgb(255, 255, 255);
	font-family: 'Malgun Gothic', '맑은 고딕', AppleSDGothicNeo-Light,	sans-serif; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: normal; 
	font-size: 12px; 
	line-height: normal;
	text-align: left;
	color : rgb(68, 84, 106);
	ime-mode: auto;
	cursor: text;
	z-index: 2000;
}

.rg-editor-container .rg-number-editor {
	text-align: right;
}
