@charset "UTF-8";

/* realgrid custom styles */

#realgrid {
  width: 100%;
  height: 450px; /* for WebKit */
}

.alternate-row {
  background: #f8f8f8;
}

.right-column {
  text-align: right;
}

.orange-column{
  background: #ff8b00;
}