@charset "utf-8";

/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap'); */

body {
  font-family: 'Noto Sans KR', 'Roboto', 'sans-serif';
  font-weight: 300;
}

.toolbar {
  padding: 16px 0;
}

.toolbar-group {
  padding: 14px 0;
}

.toolbar-group-title {
  font-size: 1.1rem;
  padding: 6px 0 3px 0;
  font-weight: 500;
}

.toolbar label {
  font-size: 1rem;
}

.toolbar input[type=text], .toolbar select {
  padding: .275rem 1.75rem .275rem .75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;  
}

.toolbar button {
  display: inline-block;
  
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;

  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;

  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;

  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.toolbar button:focus:not(:disabled) {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(23,162,184,.5);
}

.toolbar button:hover:not(:disabled) {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.toolbar button:disabled {
  opacity: .65;
}

.toolbar-group input[type=radio], .toolbar-group input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
  position: static;
  margin-top: 0;
  margin-right: .3rem;
  margin-left: .8rem;
}